body, head, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#theme-toggle{
    padding: 8px;
}

#theme-toggle path{
    fill: #989898;
}

#header{
    display: flex;
    flex-direction: row;
    flex: none;
    height: 40px;
    width: 100%;
    justify-content: center;
    background-color: #282828;
}

#hero{
    background-color: #1c1e2e;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 0;
}

.flex-fill{
    flex: 1;
}

#title{
    letter-spacing: 0.05em;
    font-size: 64px;
    font-weight: 500;
    margin-top: 40px;
    color: #fcfcfc;
}

#abstract{
    font-size: 24px;
    color: #cacaca;
    margin-top: 20px;
}

span.line{
    display: inline-block;
}

#playground{
    background-color: #269331;
    color: #eeeeee;
    width: 250px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 10px;
    margin-top: 60px;
    font-size: 18px;
}

#playground:hover{
    background-color: #2aa336;
    cursor: pointer;
}


#backgroundCanvas{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

#content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #202020;
    font-weight: 500;
    padding-bottom: 40px;
}

.feature .code{
    width: 400px;
    flex: none;
    margin: 20px;
}

.feature .text{
    width: 300px;
    flex: none;
    margin: 20px;
}

.feature .what{
    font-size: 24px;
}

.feature .why{
    margin-top: 20px;
    font-size: 18px;
}

.feature{
    margin-top: 100px;
    display: flex;
    width: 100%;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

@media(min-width: 800px){
    .feature{
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    #pre{
        max-width: 200px;
        flex: 1;
    }
    #abstract{
        width: 400px;
    }
    .feature:nth-child(even) > *:nth-child(1){order: 1;}
    .feature:nth-child(even) > *:nth-child(2){order: 4;}
    .feature:nth-child(even) > *:nth-child(3){order: 3;}
    .feature:nth-child(even) > *:nth-child(4){order: 2;}
    .feature:nth-child(even) > *:nth-child(5){order: 5;}
}

@media(max-width: 800px){
    .feature{
        flex-direction: column;
        align-items: center;
    }
    .code{
        margin-top: 50px !important;
    }
    #hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #pre, #post{
        flex: 1;
    }
    #abstract{
        display: inline-grid;
    }
}

.feature .mid{
    flex: 1;
    max-width: 200px;
}

#footer{
    width: 100%;
    height: 40px;
    background-color: #282828;
}